

*{  margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
}

body{

    width: 100%;
    font-family: 'Fira Sans', sans-serif;
    background-color: #f8f8f9;

    
}

header{
    max-width: 100%;
}


h1{  
    
    color: #78448f;
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 30px;




}

h3{
    color: #78448f;
    font-size: 2.5rem;
    text-align: center;

}

h4{
    text-align: center;
    margin: 1rem;
    font-size: large;
    letter-spacing: 1px;

}

h5{
    color: #78448f;
    font-size: 2rem;
    text-align: left;
}





/* SOMOS INMIGRANTES DIGITALES */

.sectionSomos{

    max-width: 100%;
    background-color: white;
    min-height: 570px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    gap: 5%;

}



.textoSomos{
    margin-top: 6rem;
}

.textoSomos p{
    margin: auto;
    text-align: center;
    max-width: 500px;
    max-height: 252px; 
}


.imageSomos img{
    margin-top: 4rem;
    max-width: 100%;
    height: auto;



}




.fraseDefensoria{

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
    background-color: #78448f;
    
    
}

.fraseDefensoria p{
    line-height: 4rem;
    font-size: 1.7rem;
    color: #e8effa;

}

.videoLidia{
    max-width: 624px;
    margin: auto;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.20);
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    
    line-height: 1.2rem;
    grid-area: videoLidia;

}

.copyLidia{
    font-weight: 800;
    text-align: center;
}


.videoLidia iframe{
    margin: 1rem;
   align-content: center;
   border-radius: 8px;
}

.videoLidia img{
    margin-top: .5rem;
    width: 24px;
    height: 24px;
}






.carousel{
    width: 65%;
    margin: auto;
}

.nuestrosCursos{
    height: 800px;
}

.cursos{
    margin: auto;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.formulario{
    margin: 3rem;
    display: flex;
    justify-content: space-evenly;
    border: #78448f;
    border-width: 1rem;
}
